<ion-header>
  <ion-navbar>
    <ion-title>
      Recherche de films TMDB
    </ion-title>
  </ion-navbar>
  <ion-searchbar (ionInput)="getFilms($event)"></ion-searchbar>
</ion-header>

<ion-content padding>
  <div *ngIf="!(films | async)?.length">Aucun Résultats</div>
  <ion-list>
    <button ion-item *ngFor="let film of films | async" [navPush]="pushPage" [navParams]='film'>
        <ion-thumbnail item-start>
          <img [src]="'https://image.tmdb.org/t/p/w154'+ film.poster_path" >
        </ion-thumbnail>
        <h2>{{film.title}}</h2>
        <p> {{film.release_date}}</p>

    </button >

  </ion-list>
</ion-content>
