<ion-header>
  <ion-navbar>
    <ion-title>
      Recherche Film
    </ion-title>
  </ion-navbar>
  <ion-searchbar (ionInput)="getFilms($event)"></ion-searchbar>
</ion-header>

<ion-content padding>
  <div *ngIf="isNull()">Aucun Résultats</div>
  <ion-list>
    <ion-item *ngFor="let film of films">
      <ion-thumbnail item-start>
        <img [src]="film.image">
      </ion-thumbnail>
      <h2>{{film.title}}</h2>
      <p>{{film.author}} • {{film.date}}</p>
    </ion-item>

  </ion-list>
</ion-content>
